@model Cats

@{
	ViewData["Title"] = "Facts about Cats";
}

<h1> @ViewData["Title"]</h1>

<div>
	<h3>Time spent with cats is never wasted.</h3>
	<p>@Model.fact </p>
	<p>@Model.length characters</p>



</div>